Training the network on MNIST dataset and checking its accuracy against the validation data

In [3]:
import numpy as np
from model.neural_network import *
import pandas as pd

In [ ]:
# Load and prepare MNIST data 
df_train_full = pd.read_csv('./data/mnist_train.csv') 
df_val = df_train_full.sample(n=10000, random_state=1)
df_train = df_train_full.drop(df_val.index)

# Reset indices 
df_val = df_val.reset_index(drop=True)
df_train = df_train.reset_index(drop=True)

df_train

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
0,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49996,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49997,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49998,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49999,8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
df_val

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
0,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9996,8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9997,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9998,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9999,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
# Convert to numpy arrays and extract features/labels
df_train = np.array(df_train)
df_val = np.array(df_val)

# Correct data extraction: columns 1 onwards for features, column 0 for labels
X_train = df_train[:, 1:].T  # Shape: (784, num_train_samples)
y_train = df_train[:, 0].astype(int)  # Shape: (num_train_samples,)

X_val = df_val[:, 1:].T  # Shape: (784, num_val_samples)  
y_val = df_val[:, 0].astype(int)  # Shape: (num_val_samples,)

# Normalize pixel values to [0, 1]
X_train = X_train / 255.0
X_val = X_val / 255.0

print("Final shape of training samples:", X_train.shape)
print("Final shape of training labels:", y_train.shape)
print("Final shape of validation samples:", X_val.shape)
print("Final shape of validation labels:", y_val.shape)

Final shape of training samples: (784, 50000)
Final shape of training labels: (50000,)
Final shape of validation samples: (784, 10000)
Final shape of validation labels: (10000,)

We have separated the labels from the features. Looking at the shapes of training and validation data, we can confirm that it has been done correctly.

In [10]:
# Create network: 
# 784 inputs (28x28 pixels) -> 256 hidden -> 10 outputs (digits 0-9)
network = Network([784, 256, 10])

# Train the netw
print("\nStarting training...")
network.fit(X_train, y_train, epochs=50, learning_rate=0.1, batch_size=32)

# Evaluate on validation set
print("\nEvaluating on validation set...")
val_predictions = network.predict(X_val)
val_accuracy = np.mean(val_predictions == y_val)
print(f"Validation Accuracy: {val_accuracy:.4f}")

# Show some predictions
print("\nSample predictions vs true labels:")
for i in range(10):
    print(f"Predicted: {val_predictions[i]}, True: {y_val[i]}")

Starting training...
Epoch 10/50, Loss: 0.1608
Epoch 20/50, Loss: 0.0847
Epoch 30/50, Loss: 0.0513
Epoch 40/50, Loss: 0.0315
Epoch 50/50, Loss: 0.0194

Evaluating on validation set...
Validation Accuracy: 0.9606

Sample predictions vs true labels:
Predicted: 3, True: 3
Predicted: 2, True: 2
Predicted: 7, True: 7
Predicted: 8, True: 8
Predicted: 2, True: 2
Predicted: 3, True: 3
Predicted: 5, True: 5
Predicted: 2, True: 2
Predicted: 8, True: 8
Predicted: 9, True: 9